/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.doter-card {
  margin-top: 10px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
